<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:myns="http://www.cll.com/schema"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.cll.com/schema
        http://www.cll.com/schema/aty.xsd">
        
    <myns:datasource id="myDataSourcce" 
        driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://localhost:3309/demodb" 
        username="root" 
        password="123456" />
    
</beans>